*,
*::before,
*::after {

    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Merriweather', sans-serif;
    line-height: 1.6;
   
}

$bp-large: 65.6em;   // 1050px
     // 1000px
$bp-medium: 53.1em;    // 850px;
$bp-small: 42.2em;    // 600px;


